/* 整个容器 */
.word-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

/* 卡片样式 */
.card {
    border: 2px solid #ccc;
    padding: 30px 50px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.card:hover {
    border: 2px solid #007bff;
    box-shadow: 0px 8px 15px rgba(0, 123, 255, 0.2);
    transform: translateY(-5px);
}

/* 卡片文字样式 */
.card-word {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
}

/* 按钮样式 */
button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    padding: 15px 30px; /* 增大内边距 */
    margin: 0 15px; /* 增大按钮间距 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px; /* 增大字体大小 */
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* 设置宽度 */
    height: 50px; /* 设置高度 */
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 按钮禁用状态 */
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* 认识按钮 */
.button-recognized {
    background-color: #28a745; /* 绿色 */
    color: #ffffff;
}

.button-recognized:hover {
    background-color: #218838;
}

/* 不认识按钮 */
.button-unrecognized {
    background-color: #dc3545; /* 红色 */
    color: #ffffff;
}

.button-unrecognized:hover {
    background-color: #c82333;
}


/* 导航区域 */
.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* 当前进度文本 */
.header {
    margin-bottom: 20px;
    text-align: center; /* 使文本居中 */
}

.header p {
    font-size: 18px; /* 调整字体大小 */
    color: #495057;
    margin: 0;
}

/* 前缀信息部分 */
.prefix-info {
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 190px;
    overflow: hidden;
}

.prefix-info.hidden {
    height: 0;
    padding: 0;
    border: none;
}

.prefix-info p {
    font-size: 18px;
    color: #495057;
    margin-bottom: 10px;
}

.prefix-info ul {
    list-style-type: disc;
    padding-left: 20px;
}

.prefix-info li {
    font-size: 16px;
    color: #212529;
    margin-bottom: 5px;
}

/* 操作按钮 */
.actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.actions button {
    width: auto; /* 取消固定宽度 */
    height: auto; /* 取消固定高度 */
    padding: 10px 20px; /* 增大内边距 */
    font-size: 18px; /* 调整字体大小 */
}

/* 前缀列表样式 */
.prefix-list {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px; /* 设置最大高度 */
    overflow-y: auto; /* 允许纵向滚动 */
}

.prefix-list h3 {
    font-size: 20px;
    color: #495057;
    margin-bottom: 10px;
}

.prefix-list ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.prefix-list li {
    font-size: 16px;
    color: #212529;
    word-wrap: break-word; /* 自动换行 */
    list-style: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px 10px 0;
    cursor: pointer;
}
.prefix-list li:hover {
    background-color: #dcecff;
    color: #212529;
}
.prefix-list li.remembered{
    background-color: #ffe6e6;
    color: #212529;
/*    删除线 */
    text-decoration: line-through;
}

/* 响应式布局 */
@media (max-width: 768px) {
    .card {
        padding: 20px 30px;
    }

    .card-word {
        font-size: 20px;
    }

    button {
        font-size: 18px; /* 调整字体大小 */
        padding: 12px 24px; /* 增大内边距 */
    }

    .prefix-info {
        width: 90%;
    }

    .prefix-list {
        padding: 15px;
    }

    .prefix-list h3 {
        font-size: 18px;
    }

    .prefix-list li {
        font-size: 14px;
    }
}
